.Layout {
	.ant-layout {background: #fff;}
	.ant-layout-sider {
    background: #fff;
	}
	.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
    border-right: none;
	}
	.ant-table-pagination.ant-pagination {
    float: left;
	}
	.ant-layout-sider-children {
    overflow-x: hidden;
 }
}
