@font-face {font-family: "iconfont";
  src: url('../../iconfont/iconfont.eot'); /* IE9 */
  src: url('../../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../iconfont/iconfont.woff2') format('woff2'),
  url('../../iconfont/iconfont.woff') format('woff'),
  url('../../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../../iconfont/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important; 
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	margin-right: 10px; 
}

.iconzhexiantu:before {
  content: "\e600";
}

.iconzhuzhuangtu:before {
  content: "\e601";
}

.iconshouhuo:before {
  content: "\e60f";
}

.iconwoyaoxiexin:before {
  content: "\e606";
}

